.user-msg {
    position: fixed;
    top: 40px;
    right: 20px;

    width: 290px;
    background-color: rgb(208, 206, 139);
    padding: 10px;
    border-radius: 5px;
    /* transition: opacity 1s; */
}
.success {
    background-color: rgb(88, 130, 88);
}
.error {
    background-color: rgb(187, 104, 104);
}