@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: Comfortaa;
    src: url(../../fonts/Comfortaa-SemiBold.ttf);
}
@font-face {
    font-family: ProductSans;
    src: url(../../fonts/Product\ Sans\ Bold.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto-Thin.ttf);
}